html { 
  background: url(../mug-watch-and-planner-book-on-brown-wooden-surface-2736499.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}